extends ../../layouts/default
include ../../mixins/box-head

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")
            
        .row 
            .col-12 
                .chat
                    .inner-body 
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-comming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullname}
                                .inner-content 
                                    | #{chat.content}
                        //- .inner-outgoing 
                        //-     .inner-content 
                        //-         | Thế à? OK em iu 
                        //- .inner-comming 
                        //-     .inner-name Em yêu 
                        //-     .inner-content 
                        //-         | Nhanh nha, nhanh nha
                        //- .inner-outgoing 
                        //-     .inner-content 
                        //-         | Ck đến rồi mà có thấy ai ở nhà đâu
                        //- .inner-comming 
                        //-     .inner-name Em yêu 
                        //-     .inner-content 
                        //-         | Thì em bảo không có ai ở nhà mà
                        //- .inner-outgoing 
                        //-     .inner-content 
                        //-         | Chít tịt
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                                class="input-message"
                            )
                            button(class="button-message")
                                i.fa-solid.fa-paper-plane
                            
            