extends ../../layouts/default
include ../../mixins/box-head

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")
            
        .row 
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-comming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullname}
                                .inner-content 
                                    | #{chat.content}
                        div(class="inner-list-typing")
                            
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                                class="input-message"
                            )
                            span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>
                            div(class="tooltip" role="tooltip")
                                emoji-picker(class="light")
                            button(class="button-message")
                                i.fa-solid.fa-paper-plane


                            
            